<label for="book">
    Book
</label>
<input type="text" placeholder="Which book of the Bible?" id="book">
<br>

<label for="chapter">
    Chapter
</label>
<input type="text" placeholder="Which chapter of the book?" id="chapter">
<br>

<label for="verse">
    Verse
</label>
<input type="text" placeholder="Which verse of the chapter?" id="verse">
<br>
<br>
<br>

<textarea name="verse_contents" id="verse_text" rows="10" cols="50">
   Verse Contents Will Appear Here
</textarea>
<br>
<script type="text/javascript"> 
    function findVerse() {
        let book = document.getElementById("book").value;
        let chapter_num = parseInt(document.getElementById("chapter").value);
        let verse_num = parseInt(document.getElementById("verse").value);
        let verse_text_area = document.getElementById("verse_text");
        var param = { book: book, chapter: chapter_num, verse: verse_num }
        fetch('http://localhost:8001/get_verse', {
            method: "POST",
            mode: 'cors',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(param)
        }).then(response => {
            return response.json()
        }).then(parsedResponse => console.log(parsedResponse))
            .catch(error => {
                return error.json()
            });
    }
</script>

<button onclick="findVerse()">
    Find Verse
</button>